/* how it works section */
.how-it-works {
  padding-top: 2.25rem;
}

.how-it-before,
.how-it-after {
  padding-bottom: 3.0625rem;
}

.how-card {
  text-align: center;

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14.375rem;
    padding: 0 0.5rem;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-content {
    padding-top: 1rem;
  }

  &-counter {
    display: inline-block;
    margin-bottom: 0.75rem;
    width: 2.125rem;
    height: 2.125rem;
    @include font(1.0625rem, bold, 2.125rem);
    color: #fff;
    // line-height: 2.125rem;
    border-radius: 50%;
    background-color: $btn-red;

    &.how-card-check {
      background-color: #B7F9D2;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.15385L5.9 10L15 1' stroke='%2355CE87' stroke-width='2'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}