/* intro video section */
.intro-video {
  position: relative;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.video-bkgr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/video-wrapper-img.png') center/cover no-repeat;
  z-index: 10;
}

.video-section {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  // padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50px));
  text-align: center;
  z-index: 11;
}

.video-button {
  margin: 0 auto;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: $btn-red;
  cursor: pointer;
}