/* typography */
body {
  font-family: $main-font;
  color: $main-color;
}

h1 {
  @include font(2.5rem, bold, 1.2);

  @include until($sm) {
    font-size: 2rem;
  }
}

h2, .h2 {
  @include font(2.5rem, bold, 1.2);

  @include until($sm) {
    font-size: 1.75rem;
  }
}

h3 {
  @include font(1.5rem, bold, 1.208);

  @include until($sm) {
    font-size: 1.25rem;
  }
}

p {
  @include font(1rem, 400, 1.1875);
}

.muted {
  color: $muted-color;
}

.large {
  @include font(1.125rem, 400, 1.22);
}

a {
  word-wrap: break-word;
}