// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// used fonts
$main-font: 'Lato', sans-serif;

// colors
$main-color: #415B6A;
$muted-color: #768892;
$btn-green: #55CE87;
$btn-red: #D9616B;
$green-shadow: rgba(85, 206, 135, 0.4);
$red-shadow: rgba(217, 97, 107, 0.3);
$header-color: #FAF5F1;

// border radius
$border-radius-btn: 0.3125rem;
$border-radius-card: 0.625rem;
$border-radius-pricing: 1.25rem;
